@import "../../styles/variables";

.footer {
  background-color: #222;
  color: #fff;

  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: $base-padding $base-margin * 8;
  .footer-content {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
  }
}

@media (max-width: 600px) {
  .footer {
    padding: $base-padding $base-padding * 2;
  }
}
